@import "./utils/fonts";
@import "./utils/normalize";
@import "./utils/base";
@import "./components/hero";
@import "./components/steps";
@import "./components/present";
@import "./components/habits";
@import "./components/footer";