.footer {
    background-color: #fff;
    background-image: url(../img/footer-bg.png);
    padding-top: 43px;
    padding-bottom: 87px;
}
.footer-container {
    display: flex;
}
.footer__copyright {
    font-family: Noto IKEA Latin;
font-weight: 400;
font-size: 12px;
line-height: 130%;
margin-right: 50px;


color: #767571;
}
.footer__list {
    display: flex;
    margin-right: 126px;
}
.footer__list-item {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}
.footer__social-title {
    font-weight: 700;
font-size: 26px;
line-height: 115%;
margin-bottom: 17px;


color: #000000;
}
.footer__list-link {
    font-family: Noto IKEA Latin;
font-weight: 400;
font-size: 12px;
line-height: 130%;

color: #767571;
}
.footer__icon-box {
    display: flex;
}
.footer__icon-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #EEE9DE;
    transition: all 250ms linear;
    margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: #b1ada6;
    fill: #fff;
  }

}