.habits {
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url(../img/habits-bg.png);
    background-position-y: 58%;
    background-color: #fff;
}
.habits__title {
    font-weight: 700;
font-size: 56px;
line-height: 100%;
margin-bottom: 20px;


color: #090909;
}
.habits__btn {
    font-family: Noto IKEA Latin;
font-weight: 400;
font-size: 24px;
line-height: 100%;
background: transparent;
margin-bottom: 56px;


color: #00A365;


&::after {
    content: '';
    background: url('../img/circle.svg') 0 0/contain no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 6px;
}
}
.habits__text {
    margin-left: 30px;
    font-family: Noto IKEA Latin;
font-weight: 400;
font-size: 24px;
line-height: 100%;



color: #090909;
}
.habits__wrap {
    display: flex;
  flex-wrap: wrap;
  margin-left: -31px;
  margin-top: -31px;
}
.habits__item {
    flex-basis: calc(100% / 3 - 31px);
  margin-left: 31px;
  margin-top: 31px;
  background: #C0D9CA;
border-radius: 20px;
padding: 34px 30px;
}
.habits__icon {
    margin-bottom: 17px;
}
.habits__item-title {
    margin-bottom: 10px;
    font-weight: 700;
font-size: 26px;
line-height: 1.1;


color: #000000;
}
.habits__item-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135%;
    
    
    color: #000000;
}
