@font-face {
    font-family: 'Lively Headline';
    src: url('../fonts/LivelyHeadline-Bold.eot');
    src: url('../fonts/LivelyHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LivelyHeadline-Bold.woff2') format('woff2'),
        url('../fonts/LivelyHeadline-Bold.woff') format('woff'),
        url('../fonts/LivelyHeadline-Bold.ttf') format('truetype'),
        url('../fonts/LivelyHeadline-Bold.svg#LivelyHeadline-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('../fonts/NotoIKEALatin-Bold.eot');
    src: url('../fonts/NotoIKEALatin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoIKEALatin-Bold.woff2') format('woff2'),
        url('../fonts/NotoIKEALatin-Bold.woff') format('woff'),
        url('../fonts/NotoIKEALatin-Bold.ttf') format('truetype'),
        url('../fonts/NotoIKEALatin-Bold.svg#NotoIKEALatin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('../fonts/NotoIKEALatin-BoldItalic.eot');
    src: url('../fonts/NotoIKEALatin-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoIKEALatin-BoldItalic.woff2') format('woff2'),
        url('../fonts/NotoIKEALatin-BoldItalic.woff') format('woff'),
        url('../fonts/NotoIKEALatin-BoldItalic.ttf') format('truetype'),
        url('../fonts/NotoIKEALatin-BoldItalic.svg#NotoIKEALatin-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('../fonts/NotoIKEALatin-Regular.eot');
    src: url('../fonts/NotoIKEALatin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoIKEALatin-Regular.woff2') format('woff2'),
        url('../fonts/NotoIKEALatin-Regular.woff') format('woff'),
        url('../fonts/NotoIKEALatin-Regular.ttf') format('truetype'),
        url('../fonts/NotoIKEALatin-Regular.svg#NotoIKEALatin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('../fonts/NotoIKEALatin-Italic.eot');
    src: url('../fonts/NotoIKEALatin-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoIKEALatin-Italic.woff2') format('woff2'),
        url('../fonts/NotoIKEALatin-Italic.woff') format('woff'),
        url('../fonts/NotoIKEALatin-Italic.ttf') format('truetype'),
        url('../fonts/NotoIKEALatin-Italic.svg#NotoIKEALatin-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}